<!doctype html>

<html ng-app="myApp">
<head>
    <meta charset=utf-8>
    <title>Gold Rush</title>
    <link rel="stylesheet" href="main.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>    
</head>
    <body ng-controller="myController">
        
        <div ng-click="doClick($event)" id="wrapper">
            <div ng-repeat="point in pointArray" ng-click="removeMarker($index)" id="{{$index}}" style="display:inherit; top:{{point.y + 'px'}}; left:{{point.x + 'px'}}" class="marker black">{{ $index + 1 }}</div>
            <img src="https://github.com/RefactorU/exercise-starters/blob/master/client-js/gold-rush/topo-co.jpg?raw=true">
            <div id="map"></div>
        </div>
        
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>