/*#wrapper { position: relative; }*/
/*#wrapper img, #wrapper .marker { position: absolute; }*/
/*#wrapper .marker { z-index: 100; }*/
/*#wrapper img { top: 0; left: 0; }*/

#wrapper { position: relative; z-index: -100; width: 100%; }
#wrapper img, #wrapper .marker { position: absolute; }
#wrapper img { top: 0; left: 0; width: 100%;}

.marker {
    width: 27px;
    height: 40px;
    position: absolute;
    /*left: 0px;*/
    /*top: 0px;*/
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
    z-index: 100;
}

.marker.black {
    background: url("http://i.imgur.com/YDYuXBs.png");
    display: none;
}

/*html {*/
/*    background-image: url("https://github.com/RefactorU/exercise-starters/blob/master/client-js/gold-rush/topo-co.jpg?raw=true");*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/